/* General container and layout styles */
.container {
    display: flex;
    height: 100vh;
    margin-top: 20px;
}
.header {
            color: #A9A9A9;
            padding: 10px 0;
            width: 900px;
        }

        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }

        .logo a {
            font-size: 24px;
            color: #000;
            text-decoration: none;
            font-weight: bold;
        }
